<div id="overlayContainer" class="hidden">
  <div id="passwordOverlay" class="container hidden">
  <div class="dialog">
  <div class="row">
  <p id="passwordText" data-l10n-id="password_label"><%=root.services.pdfreader.enterThePassword%></p>
  </div>
  <div class="row">
  <input type="password" id="password" class="toolbarField">
  </div>
  <div class="buttonRow">
  <button id="passwordCancel" class="overlayButton"><span data-l10n-id="password_cancel"><%=root.services.pdfreader.cancelLabel%></span></button>
  <button id="passwordSubmit" class="overlayButton"><span data-l10n-id="password_ok"><%=root.services.pdfreader.okLabel%></span></button>
  </div>
  </div>
  </div>
  <div id="documentPropertiesOverlay" class="container hidden">
  <div class="dialog">
  <div class="row">
  <span data-l10n-id="document_properties_file_name"><%=root.services.pdfreader.fileName%></span> <p id="fileNameField">-</p>
  </div>
  <div class="row">
  <span data-l10n-id="document_properties_file_size"><%=root.services.pdfreader.fileSize%></span> <p id="fileSizeField">-</p>
  </div>
  <div class="separator"></div>
  <div class="row">
  <span data-l10n-id="document_properties_title"><%=root.services.pdfreader.title%></span> <p id="titleField">-</p>
  </div>
  <div class="row">
  <span data-l10n-id="document_properties_author"><%=root.services.pdfreader.author%></span> <p id="authorField">-</p>
  </div>
  <div class="row">
  <span data-l10n-id="document_properties_subject"><%=root.services.pdfreader.subject%></span> <p id="subjectField">-</p>
  </div>
  <div class="row">
  <span data-l10n-id="document_properties_keywords"><%=root.services.pdfreader.keyword%></span> <p id="keywordsField">-</p>
  </div>
  <div class="row">
  <span data-l10n-id="document_properties_creation_date"><%=root.services.pdfreader.creationDate%></span> <p id="creationDateField">-</p>
  </div>
  <div class="row">
  <span data-l10n-id="document_properties_modification_date"><%=root.services.pdfreader.modificationDate%></span> <p id="modificationDateField">-</p>
  </div>
  <div class="row">
  <span data-l10n-id="document_properties_creator"><%=root.services.pdfreader.creator%></span> <p id="creatorField">-</p>
  </div>
  <div class="separator"></div>
  <div class="row">
  <span data-l10n-id="document_properties_producer"><%=root.services.pdfreader.pdfProducer%></span> <p id="producerField">-</p>
  </div>
  <div class="row">
  <span data-l10n-id="document_properties_version"><%=root.services.pdfreader.pdfVersion%></span> <p id="versionField">-</p>
  </div>
  <div class="row">
  <span data-l10n-id="document_properties_page_count"><%=root.services.pdfreader.pageCount%></span> <p id="pageCountField">-</p>
  </div>
  <div class="row">
  <span data-l10n-id="document_properties_page_size"><%=root.services.pdfreader.pageSize%></span> <p id="pageSizeField">-</p>
  </div>
  <div class="separator"></div>
  <div class="row">
  <span data-l10n-id="document_properties_linearized"><%=root.services.pdfreader.fastWebView%></span> <p id="linearizedField">-</p>
  </div>
  <div class="buttonRow">
  <button id="documentPropertiesClose" class="overlayButton"><span data-l10n-id="document_properties_close"><%=root.services.pdfreader.close%></span></button>
  </div>
  </div>
  </div>
  <div id="printServiceOverlay" class="container hidden">
  <div class="dialog">
  <div class="row">
  <span data-l10n-id="print_progress_message"><%=root.services.pdfreader.preparingDocument%></span>
  </div>
  <div class="row">
  <progress value="0" max="100"></progress>
  <span data-l10n-id="print_progress_percent" data-l10n-args='{ "progress": 0 }' class="relative-progress">0%</span>
  </div>
  <div class="buttonRow">
  <button id="printCancel" class="overlayButton"><span data-l10n-id="print_progress_close"><%=root.services.pdfreader.cancel%></span></button>
  </div>
  </div>
  </div>
  </div> 