<!DOCTYPE html>
<% var lang=__('root.lang') %>
<html lang="<%= lang %>">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%=root.services.passwordprotectpdf.headTitle%></title>
    <meta name="description" content="<%=root.services.passwordprotectpdf.metaTitle%>">
    <link rel="canonical" href="<%=root.domain%><%=root.services.passwordprotectpdf.url%>" />
    <link rel="alternate" hreflang="x-default" href="https://gorillapdf.com/password-protect-pdf" />
    <link rel="alternate" hreflang="en" href="https://gorillapdf.com/password-protect-pdf" />
    <link rel="alternate" hreflang="de" href="https://gorillapdf.com/de/pdf-verschlusseln" />
    <link rel="alternate" hreflang="fr" href="https://gorillapdf.com/fr/proteger-pdf" />
    <link rel="alternate" hreflang="es" href="https://gorillapdf.com/es/proteger-pdf" />
    <link rel="alternate" hreflang="pt" href="https://gorillapdf.com/pt/proteger-pdf" />
    <link rel="alternate" hreflang="ja" href="https://gorillapdf.com/ja/protect-pdf" />
    <link rel="alternate" hreflang="it" href="https://gorillapdf.com/it/proteggi-pdf" />
	<link rel="alternate" hreflang="ru" href="https://gorillapdf.com/ru/zashhitit-parolem-pdf" />
	<link rel="alternate" hreflang="mk" href="https://gorillapdf.com/mk/pdf-enkripcija" />
	<link rel="alternate" hreflang="tr" href="https://gorillapdf.com/tr/korumali-pdf" />
	<link rel="alternate" hreflang="uk" href="https://gorillapdf.com/uk/zashhitit-pdf" />
	<link rel="alternate" hreflang="id" href="https://gorillapdf.com/id/proteksi-kata-sandi-pdf" />
	<link rel="alternate" hreflang="ms" href="https://gorillapdf.com/ms/kata-laluan-lindungi-pdf" />
	<link rel="alternate" hreflang="zh" href="https://gorillapdf.com/zh/protect-pdf" />
    <script type="application/ld+json">{"@context":"https://schema.org","@type":"WebApplication","name":"Password Protect PDF","description":"Protect your PDF files with 256-bit AES encryption. Load your PDF, add a password and protect it.","applicationCategory":"BusinessApplication","applicationSubCategory":"PDF Software","applicationSuite": "GorillaPDF","operatingSystem":"All","aggregateRating":{"@type":"AggregateRating","ratingValue":<%= pageData.ratingAverage %>,"ratingCount":<%= pageData.numberOfVotes %>},"offers":{"@type":"Offer","price":"0","priceCurrency":"USD"}} </script>
    <% include partials/head %>
</head>
<body>
    <% include partials/menu %>
	<main>
    <div class="container container-cards">
        <% include partials/upload-section %>
            <div class="row justify-content-center">
                <div class="col-sm-9 col-lg-6 col-xs-12">
                    <% include partials/download-single-section %>
                </div>
            </div>
            <% include partials/ad-section %>
    </div>
	<!-- B -->
	<div class="container howtsecextra bene">
	<div class="row">
    <div class="col-sm-4"><h3><%=root.services.passwordprotectpdf.bene1Title%></h3><p><%=root.services.passwordprotectpdf.bene1Txt%></p></div>
    <div class="col-sm-4"><h3><%=root.services.passwordprotectpdf.bene2Title%></h3><p><%=root.services.passwordprotectpdf.bene2Txt%></p></div>
    <div class="col-sm-4"><h3><%=root.services.passwordprotectpdf.bene3Title%></h3><p><%=root.services.passwordprotectpdf.bene3Txt%></p></div>
	</div>
	<div class="row">
    <div class="col-sm-4"><h3><%=root.services.passwordprotectpdf.bene4Title%></h3><p><%=root.services.passwordprotectpdf.bene4Txt%></p></div>
    <div class="col-sm-4"><h3><%=root.services.passwordprotectpdf.bene5Title%></h3><p><%=root.services.passwordprotectpdf.bene5Txt%></p></div>
    <div class="col-sm-4"><h3><%=root.services.passwordprotectpdf.bene6Title%></h3><p><%=root.services.passwordprotectpdf.bene6Txt%></p></div>
	</div>
	</div>
	<!-- HT -->
	<div class="container-fluid howtsec howtsecnew">
    <div class="container blckprod">
      <div class="row">
        <div class="col-sm-12 headprod">
                                <h2><%=root.services.passwordprotectpdf.title1%></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="video">
            <div class="video__youtube" data-youtube>
                <img src="/img/password-protect-pdf/how-to-password-protect-pdf.png" alt="How to password protect PDF video tutorial" class="video__placeholder img-fluid" />
                <button class="video__button" data-youtube-button="https://www.youtube.com/embed/DFHKMHu4b3w"></button>
            </div>
        </div>
  <script>
  (function (window) {

    'use strict';

    window.code = window.code || {};

    window.code.lightweightYoutubePlayer = function () {

        var dataYoutubeVideos = '[data-youtube]';

        var youtubeVideos = [...document.querySelectorAll(dataYoutubeVideos)];

        function init() {
            youtubeVideos.forEach(function(element) {
                bindYoutubeVideoEvent(element);
            });
        }

        function bindYoutubeVideoEvent(element) {
            var button = element.querySelector('[data-youtube-button]');

            button.addEventListener('click', createIframe);
        }

        function createIframe(event) {
            var url = event.target.dataset.youtubeButton;
            var youtubePlaceholder = event.target.parentNode;

            var htmlString = '<div class="video__youtube"> <iframe class="video__iframe" src="' + url + '?autoplay=1" frameborder="0" allowfullscreen></iframe></div>';

            youtubePlaceholder.style.display = 'none';
            youtubePlaceholder.insertAdjacentHTML('beforebegin', htmlString);
            youtubePlaceholder.parentNode.removeChild(youtubePlaceholder);
        }

        return {
           init: init
        }
    };

})(window)

ready();

function ready() {
    var lightweightYoutubePlayer = new code.lightweightYoutubePlayer()

    if (document.readyState != 'loading') {
        page.init()
    } else {
        document.addEventListener('DOMContentLoaded', lightweightYoutubePlayer.init);
    }
}
  </script>
                        </div>
                        <div class="col-sm-6">
                            <ol>
                                <li><%=root.services.passwordprotectpdf.li1%></li>
                                <li><%=root.services.passwordprotectpdf.li2%></li>
                                <li><%=root.services.passwordprotectpdf.li3%></li>
                                <li><%=root.services.passwordprotectpdf.li4%></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
	<!-- Features -->
	<div class="container howtsecextra">
                <div class="row">
                    <div class="col-sm-12 headprod">
                        <h2><%=root.services.passwordprotectpdf.title2%></h2>
                    </div>
                </div>
                <div class="row whyuserow">
                    <div class="col-sm-6">
                        <h3><%=root.services.passwordprotectpdf.sTitle1%></h3>
                        <p><%=root.services.passwordprotectpdf.p1%></p>
                        <p><%=root.services.passwordprotectpdf.p2%></p>
					</div>
                    <div class="col-sm-6 text-center">
                        <img class="img-fluid" src="<%=root.services.passwordprotectpdf.img2Url%>" alt="<%=root.services.passwordprotectpdf.img2Alt%>" />
                    </div>
                </div>
                <div class="row whyuserow">
                    <div class="col-sm-6 text-center">
                        <img class="img-fluid" src="<%=root.services.passwordprotectpdf.img3Url%>" alt="<%=root.services.passwordprotectpdf.img3Alt%>" />
                    </div>
                    <div class="col-sm-6">
                        <h3><%=root.services.passwordprotectpdf.sTitle2%></h3>
                        <p><%=root.services.passwordprotectpdf.p3%></p>
                        <p><%=root.services.passwordprotectpdf.p4%></p>
                    </div>
                </div>
                <div class="row whyuserow">
                    <div class="col-sm-6">
                        <h3><%=root.services.passwordprotectpdf.sTitle3%></h3>
                        <p><%=root.services.passwordprotectpdf.p5%></p>
                        <p><%=root.services.passwordprotectpdf.p6%></p>
                    </div>
                    <div class="col-sm-6 text-center">
                        <img class="img-fluid" src="<%=root.services.passwordprotectpdf.img4Url%>" alt="<%=root.services.passwordprotectpdf.img4Alt%>" />
                    </div>
                </div>
                <div class="row whyuserow">
                    <div class="col-sm-6 text-center">
                        <img class="img-fluid" src="<%=root.services.passwordprotectpdf.img5Url%>" alt="<%=root.services.passwordprotectpdf.img5Alt%>" />
                    </div>
                    <div class="col-sm-6">
                        <h3><%=root.services.passwordprotectpdf.sTitle4%></h3>
                        <p><%=root.services.passwordprotectpdf.p7%></p>
                        <p><%=root.services.passwordprotectpdf.p8%></p>
						<p><%=root.services.passwordprotectpdf.p9%></p>
					</div>
                </div>
            </div>
	<!-- H -->
	<div class="container-fluid howtsec howtsecnew">
            <div class="row">
                <div class="col-sm-12 headprod">
                    <h2><%=root.services.passwordprotectpdf.highlightTitle%></h2>
                </div>
            </div>
            <div class="row">
				<div class="col-sm-6 text-center">
                    <img class="img-fluid" src="<%=root.services.passwordprotectpdf.highlightImgUrl%>" 
                    alt="<%=root.services.passwordprotectpdf.highlightImgAlt%>" />
                </div>
                <div class="col-sm-6">
                    <p><%=root.services.passwordprotectpdf.h1%></p>
                    <p><%=root.services.passwordprotectpdf.h2%></p>
					<p><%=root.services.passwordprotectpdf.h3%></p>
					<p><%=root.services.passwordprotectpdf.h4%></p>
			    </div>
            </div>
				</div>
	<!-- FA -->
	
	<%if(lang==="en" ){ %>
<div class="container-fluid ltstnews">
	<div class="container">
                        <h2>Helpful Articles</h2>
         <div class="cards">
						<article class="col-md-4">
<img src="https://gorillapdf.com/blog/when-to-use-pdf-encryption-for-personal-documents/when-use-pdf-encryption-for-pdf-documents.jpg" alt="When to Use PDF Encryption for Personal Documents" class="img-fluid" />
                                    <div class="text">
											<a href="https://gorillapdf.com/blog/when-to-use-pdf-encryption-for-personal-documents/"><h3>PDF Encryption for Personal Documents</h3></a>
<a class="btn btn-secondary btn-sm" href="https://gorillapdf.com/blog/when-to-use-pdf-encryption-for-personal-documents/"  role="button">Read</a>
                                    </div>
                        </article>
						<article class="col-md-4">
<img src="https://gorillapdf.com/blog/can-you-print-password-protected-pdfs/how-to-print-password-protected-pdf.png" alt="Can You Print Password-Protected PDFs" class="img-fluid" />
                                    <div class="text">
                                            <a href="https://gorillapdf.com/blog/can-you-print-password-protected-pdfs/"><h3>Can You Print Password-Protected PDFs</h3></a>
		<a class="btn btn-secondary btn-sm" href="https://gorillapdf.com/blog/can-you-print-password-protected-pdfs/" role="button">Read</a>
                                    </div>
                        </article>
						<article class="col-md-4">
<img src="https://gorillapdf.com/blog/key-reasons-to-secure-your-pdf-files/key-reasons-to-secure-pdf-files.png" alt="7 Key Reasons to Secure Your PDF Files" class="img-fluid" />
                                    <div class="text">
											<a href="https://gorillapdf.com/blog/key-reasons-to-secure-your-pdf-files/"><h3>Key Reasons to Secure Your PDF Files</h3></a>
		<a class="btn btn-secondary btn-sm" href="https://gorillapdf.com/blog/key-reasons-to-secure-your-pdf-files/" role="button">Read</a>
                                    </div>
                        </article>   
		</div>
	</div>
</div>
<% } %>
	
	<div class="container fuq">
<h2><%=root.services.passwordprotectpdf.faqTitle%></h2>	
  <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <%=root.services.passwordprotectpdf.faq1Q%>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
       <%=root.services.passwordprotectpdf.faq1A%>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <%=root.services.passwordprotectpdf.faq2Q%>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <%=root.services.passwordprotectpdf.faq2A%>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         <%=root.services.passwordprotectpdf.faq3Q%>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <%=root.services.passwordprotectpdf.faq3A%>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
         <%=root.services.passwordprotectpdf.faq4Q%>
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <%=root.services.passwordprotectpdf.faq4A%>
      </div>
    </div>
  </div>
   <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
         <%=root.services.passwordprotectpdf.faq5Q%>
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        <%=root.services.passwordprotectpdf.faq5A%>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
         <%=root.services.passwordprotectpdf.faq6Q%>
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
        <%=root.services.passwordprotectpdf.faq6A%>
      </div>
    </div>
  </div>
</div>
</div>
	<!-- R --> 
	<div class="container container-cards">
             <div class="row justify-content-center">
                <div class="col-sm-9 col-lg-6 col-xs-12">
                    <% include partials/rating-section %>
                </div>
            </div>
        </div>
	</main>
    <% include partials/footer %>
    <script>window.addEventListener("load", gorillaHelper.onRaterLoad("#rater-step", "form-rating","gorillapdf-encrypt-pdf", gorillaHelper.setCookieForPage("gorillapdf-encrypt-pdf"), 365), false);</script>
</body>
</html>