<!DOCTYPE html>
<%var lang=root.lang %>
<html lang="<%=lang%>">
<head>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%=root.privacy.headTitle%> </title>
    <meta name="description" content="<%=root.privacy.metaTitle%>">
    <link rel="canonical" href="<%=root.privacy.canonical%>" />
    <link rel="alternate" hreflang="x-default" href="https://gorillapdf.com/privacy-policy" />
    <link rel="alternate" hreflang="en" href="https://gorillapdf.com/privacy-policy" />
    <link rel="alternate" hreflang="de" href="https://gorillapdf.com/de/richtlinien-fur-den-datenschutz" />
    <link rel="alternate" hreflang="fr" href="https://gorillapdf.com/fr/politique-de-confidentialite" />
    <link rel="alternate" hreflang="es" href="https://gorillapdf.com/es/politica-de-privacidad" />
    <link rel="alternate" hreflang="pt" href="https://gorillapdf.com/pt/privacidade" />
    <link rel="alternate" hreflang="ja" href="https://gorillapdf.com/ja/privacy" />
    <link rel="alternate" hreflang="id" href="https://gorillapdf.com/id/kebijakan-pribadi" />
    <link rel="alternate" hreflang="it" href="https://gorillapdf.com/it/privacy" />
    <link rel="alternate" hreflang="mk" href="https://gorillapdf.com/mk/politika-za-privatnost" />
    <link rel="alternate" hreflang="tr" href="https://gorillapdf.com/tr/privacy" />
    <link rel="alternate" hreflang="ru" href="https://gorillapdf.com/ru/privacy" />
    <link rel="alternate" hreflang="zh" href="https://gorillapdf.com/zh/privacy" />
    <link rel="alternate" hreflang="uk" href="https://gorillapdf.com/uk/privacy" />
    <link rel="alternate" hreflang="ms" href="https://gorillapdf.com/ms/privasi" />
    <% include partials/head %>
</head>
<body>
    <% include partials/menu %>
        <div class="container container-cards">
            <h1><%=root.privacy.e1%></h1>
            <div class="row">
                <div class="col-sm-12">
                    <p><i>-- <%=root.privacy.e2%></i></p>
                    <p> <%=root.privacy.e3%>
                    </p>
                    <p> <%=root.privacy.e4%> 
                            <a href="https://gorillapdf.com/<%=root.terms.url%>">
                         <%=root.privacy.e5%></a> 
                         <%=root.privacy.e6%></p>
                   <h2><%=root.privacy.e7%></h2>
                    <p><%=root.privacy.e8%></p>
                    <h2><%=root.privacy.e9%></h2>
                    <p> <%=root.privacy.e10%></p>
                    <h2><%=root.privacy.e11%></h2>
                    <p> <%=root.privacy.e12%></p>
                    <h2> <%=root.privacy.e13%></h2>
                    <p> <%=root.privacy.e14%></p>
                    <p> <%=root.privacy.e15%></p>
                    <h2><%=root.privacy.e16%></h2>
                    <p><%=root.privacy.e1b%></p>
                    <p><%=root.privacy.e17%></p>
                    <h2><%=root.privacy.e18%></h2>
                    <p><%=root.privacy.e19%></p>
                    <h2><%=root.privacy.e20%></h2>
                    <p><%=root.privacy.e21%></p>
                    <p> <%=root.privacy.e22%></p>
                    <p><%=root.privacy.e23%></p>					
					<h2><%=root.privacy.e28%></h2>
					<p><%=root.privacy.e29%></p>
					<p><%=root.privacy.e30%></p>
					<p><%=root.privacy.e31%></p>
					<p><%=root.privacy.e32%></p>
					<p><%=root.privacy.e33%></p>
					<p><%=root.privacy.e34%></p>
					<h2><%=root.privacy.e35%></h2>
					<p><%=root.privacy.e36%></p>
					<p><%=root.privacy.e37%></p>
					<p><%=root.privacy.e38%></p>
					<p><%=root.privacy.e39%></p>
					<p><%=root.privacy.e40%></p>
					<p><%=root.privacy.e41%></p>
					<p><%=root.privacy.e42%></p>
					<p><%=root.privacy.e43%></p>
					<p><%=root.privacy.e44%></p>
					<p><%=root.privacy.e45%></p>					
                    <h2><%=root.privacy.e24%></h2>
                    <p><%=root.privacy.e25%></p>
                    <h2> <%=root.privacy.e26%></h2>
                    <p><%=root.privacy.e27%></p>
                </div>
            </div>
        </div>
        <% include partials/footer %>
</body>

</html>