<!DOCTYPE html>
<% var lang=root.lang %>
<html lang="<%= lang %>">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%=root.terms.headTitle%> </title>
    <meta name="description" content="<%=root.terms.metaTitle%>">
    <link rel="canonical" href="<%=root.terms.canonical%>"/>
    <link rel="alternate" hreflang="x-default" href="https://gorillapdf.com/terms-and-conditions" />
    <link rel="alternate" hreflang="en" href="https://gorillapdf.com/terms-and-conditions" />
    <link rel="alternate" hreflang="de" href="https://gorillapdf.com/de/nutzungsbedingungen" />
    <link rel="alternate" hreflang="fr" href="https://gorillapdf.com/fr/conditions-util" />
    <link rel="alternate" hreflang="es" href="https://gorillapdf.com/es/terminos-de-uso" />
    <link rel="alternate" hreflang="pt" href="https://gorillapdf.com/pt/termos" />
    <link rel="alternate" hreflang="ja" href="https://gorillapdf.com/ja/terms" />
    <link rel="alternate" hreflang="id" href="https://gorillapdf.com/id/syarat-dan-ketentuan" />
    <link rel="alternate" hreflang="it" href="https://gorillapdf.com/it/termini-e-condizioni" />
    <link rel="alternate" hreflang="mk" href="https://gorillapdf.com/mk/uslovi-za-koristenje" />
    <link rel="alternate" hreflang="tr" href="https://gorillapdf.com/tr/terms" />
    <link rel="alternate" hreflang="ru" href="https://gorillapdf.com/ru/terms" />
    <link rel="alternate" hreflang="zh" href="https://gorillapdf.com/zh/terms" />
    <link rel="alternate" hreflang="uk" href="https://gorillapdf.com/uk/terms" />
    <link rel="alternate" hreflang="ms" href="https://gorillapdf.com/ms/terms" />

    
    <% include partials/head %>
</head>
<body>
    <% include partials/menu %>
        <div class="container container-cards">
            <h1>
                <%=root.terms.e1%>
            </h1><br>
            <div class="row">
                <div class="col-sm-12">
                    <h2><%=root.terms.e1%> </h2>
                    <p><%=root.terms.e2%></p> <br />
                    <p><%=root.terms.e3%></p>
                    <p><%=root.terms.e4%></p>
                    <h2><%=root.terms.e5%></h2>
                    <p><%=root.terms.e6%></p>
                    <p><%=root.terms.e7%></p>
                    <h2><%=root.terms.e8%></h2>
                    <p><%=root.terms.e8b%></p>
                    <p><%=root.terms.e9%></p>
                    <ol>
                        <li><%=root.terms.e10%> https://gorillapdf.com </li>
                        <li><%=root.terms.e11%> https://gorillapdf.com </li>
                        <li><%=root.terms.e12%> https://gorillapdf.com</li>
                    </ol>
                    <p><%=root.terms.e13%></p>
                    <h2><%=root.terms.e13b%></h2>
                    <ol>
                        <li><%=root.terms.e13c%></li>
                        <li><%=root.terms.e14%>
                        </li>
                        <li><%=root.terms.e15%></li>
                        <li><%=root.terms.e16%>
                            <ol>
                                <li><%=root.terms.e17%></li>
                                <li><%=root.terms.e18%></li>
                                <li><%=root.terms.e19%></li>
                                <li><%=root.terms.e20%></li>
                            </ol>
                        </li>
                        <li><%=root.terms.e21%></li>
                    </ol>
                    <h2><%=root.terms.e22%></h2>
                    <ol>
                        <li><%=root.terms.e23%>
                            <ol>
                                <li><%=root.terms.e23a%></li>
                                <li><%=root.terms.e24%></li>
                                <li><%=root.terms.e25%></li>
                                <li><%=root.terms.e26%></li>
                                <li><%=root.terms.e27%></li>
                            </ol>
                        </li>
                    </ol>
                    <ol start="2">
                        <li><%=root.terms.e27a%>
                        </li>
                        <li><%=root.terms.e27b%>
                            <ol>
                                <li><%=root.terms.e28%></li>
                                <li><%=root.terms.e29%></li>
                                <li><%=root.terms.e30%></li>
                                <li><%=root.terms.e31%></li>
                                <li><%=root.terms.e32%></li>
                                <li><%=root.terms.e33%></li>
                                <li><%=root.terms.e34%></li>
                            </ol>
                        </li>
                    </ol>
                    <p><%=root.terms.e35%></p>
                    <p><%=root.terms.e36%> </p>
                    <p><%=root.terms.e37%></p>
                    <p><%=root.terms.e38%></p>
                    <ol>
                        <li><%=root.terms.e39%></li>
                        <li><%=root.terms.e40%></li>
                        <li><%=root.terms.e41%></li>
                    </ol>
                    <p><%=root.terms.e42%>
                    </p>
                    <h2><%=root.terms.e43%></h2>
                    <p><%=root.terms.e44%></p>
                    <h2><%=root.terms.e45%></h2>
                    <p><%=root.terms.e46%></p>
                    <h2><%=root.terms.e47%></h2>
                    <p><%=root.terms.e48%></p>
                    <p><%=root.terms.e49%></p>
                    <h2><%=root.terms.e50%></h2>
                    <p><%=root.terms.e51%></p>
                    <h2><%=root.terms.e52%></h2>
                    <p><%=root.terms.e53%></p>
                    <ol>
                        <li><%=root.terms.e54%></li>
                        <li><%=root.terms.e55%></li>
                        <li><%=root.terms.e56%></li>
                        <li><%=root.terms.e57%></li>
                    </ol>
                    <p><%=root.terms.e58%></p>
                    <p><%=root.terms.e59%></p>
                    <h2><%=root.terms.e60%></h2>
                    <p><%=root.terms.e61%></p>
                    <h2><%=root.terms.e62%></h2>
                    <p><%=root.terms.e63%></p>
                </div>
            </div>
        </div>
        <% include partials/footer %>
</body>
</html>