<div id="download-section-simple" class="download-section-simple-css el-display-none">
    <div class="row">
    <!--    <div class="col-sm-4">
            <div class='alert alert-warning'>
                <img src='/img/merge-pdf.png' alt='Merge pdf' />
                <b><span id="displayFilename"></span> </b>
            </div>
        </div> -->

        <div class="col-sm-12">
            <% if(pageData.id==="9"){ %>
                <div id="fileCompressed" class="el-display-none">
                    <div class='alert alert-success'>
                        <span><i class="fa fa-file-pdf-o" aria-hidden="true"></i> <strong><%=root.downloads.uploadFileSize%></strong></span>
                        <span id="initialSize" class="color-dark-red"></span><br/>
                        <span><i class="fa fa-file-zip-o" aria-hidden="true"></i> <strong><%=root.downloads.newFileSize%></strong></span>
                        <strong><span id="reducedSize" class="color-red"></span></strong>
                        <br/>
                        <span><i class="fa fa-check-circle" aria-hidden="true"></i> 
                            <strong><%=root.downloads.compressedFileInfo1%>
                                <span id="percentage" class="color-red"></span>
                        <%=root.downloads.compressedFileInfo2%>
                            </strong>
                            </span>
                    </div>
                    <a id="download-url" href="#" class="btn btn-success btn-lg" target="_blank">
                        <i class="fa fa-download"></i>
                        <%=root.downloads.downloadPdf%>
                    </a>
                    <button type="button" id="startagain" onclick="gorillaHelper.startOver()" class="btn btn-outline-danger btn-lg el-margin-top-10">
                            <i class="fa fa-plus-circle"></i><%=root.upload.startOver%></button>
                </div>
                <div id="fileNotCompressed" class="el-display-none">
                    <div class='alert alert-warning'>
                        <span><i class="fa fa-bell" aria-hidden="true"></i></span>
                        <span id="compressInfo"></span><br/>
                    </div>
                </div>
                <% } else{ %>
                    <div class='alert alert-success'><strong>
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                         <%=root.downloads.fileReady%></strong>
                        <%=root.downloads.thankYouMessage%>
                    </div>
                    <a id="download-url" href="#" class="btn btn-success btn-lg" target="_blank">
                        <i class="fa fa-download">
                    </i>
                        <%=root.downloads.downloadPdf%>
                    </a>
                    <button type="button" id="startagain" onclick="window.location.reload()" class="btn btn-outline-danger btn-lg el-margin-top-10">
                       <i class="fa fa-plus-circle"></i><%=root.upload.startOver%></button>
                    <% } %>
        </div>
    </div>
</div>