<!-- <div class="rating-section margin-top-bottom-20">
    <form id="form-rating" enctype="multipart/form-data">
        <div id="rater-step"></div>
        <span class="already-voted"><%=root.rating.alreadyVoted%></span>
        <input id="ratingValue" type="hidden" name="ratingValue" value="0" />
        <input id="serviceId" type="hidden" name="serviceId" value="<%=pageData.id%>" />
        <span class="el-margin-left-15"><b> <%= pageData.ratingAverage %></b> / 5  - <%= pageData.numberOfVotes %>
             <%=root.rating.votes%> </span>       
    </form>
</div> -->